@use 'vars';

.form {
	width: 70%;
	max-width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.inputs {
		
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin-bottom: 5vh;
		max-width: 100%;

		.inputContainer {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			gap: 10px;
			height: fit-content;

			.inputLabel {
				margin-top: 15px;
				font-family: SF-Pro-Display;
				font-weight: 300;
				font-size: 1rem;
			}

			.inputField {
				font-family: SF-Compact-Text;
				font-weight: 300;
				font-size: 1rem;
				background-color: vars.$color-grey-transparent;
				outline: none;
				border: none;
				border-radius: 10px;
				padding: 1.1ch;
				color: inherit;
			}

			.inputMessage {
				resize: vertical;
				max-height: 40vh;
				min-height: 100px;
			}

			.errorMsg {
				font-family: SF-Compact-Text;
				font-weight: 300;
				font-size: 1rem;
				color: vars.$color-red;
				margin: 0;
			}
		}
	}

	.buttonLink {
		align-self: center;
	}
}

@media only screen and (max-width: vars.$maxWidth) {
	.form {
		width: 100%;
	}
}