@use 'vars';

.form {
	width: 70%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.inputs {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin-bottom: 3vh;

		.inputContainer {
			display: flex;
			flex-direction: column;
			gap: 10px;
			height: fit-content;

			.fieldHead {
				display: flex;
				margin-top: 15px;
				justify-content: space-between;
				height: 2.5ch;

				.inputLabel {
					font-family: SF-Pro-Display;
					font-weight: 500;
					font-size: 1rem;
					width: fit-content;
				}

				.errorMsg {
					font-family: SF-Compact-Text;
					font-weight: 300;
					font-size: 1rem;
					color: vars.$color-red;
					width: fit-content;
				}
			}

			.inputField {
				font-family: SF-Compact-Text;
				font-weight: 300;
				font-size: 1rem;
				background-color: vars.$color-grey-transparent;
				outline: none;
				border: none;
				border-radius: 10px;
				padding: 1.1ch;
				color: inherit;
				max-width: 100%;
			}

			.inputMessage {
				font-family: SF-Compact-Text;
				font-weight: 300;
				font-size: 1rem;
				resize: vertical;
				max-height: 40vh;
				min-height: 100px;
				max-width: 100%;
			}

			.errorMsg {
				font-family: SF-Compact-Text;
				font-weight: 300;
				font-size: 1rem;
				color: vars.$color-red;
				width: fit-content;
				margin: 0;
				padding: 0;
				min-height: 2.5ch;
			}
		}
	}

	.buttonLink {
		align-self: center;
	}
}

@media only screen and (max-width: vars.$mobileWidth) {
	.form {
		min-width: 100%;
		max-width: 90vw;
	}
}