/////// COLORS /////////

$color-light: rgb(250, 250, 250);
$color-dark: rgb(33, 33, 33);
$color-dark-transparent: rgba(33, 33, 33, 0.90);
$color-light-transparent:rgba(250, 250, 250, 0.90);
$color-grey: #676767;
$color-grey-transparent: rgba(103, 103, 103, 0.15);
$color-grey-transparent-hover: rgba(103, 103, 103, 0.25);
$color-iris: #487ADA;
$color-gradient: linear-gradient(45deg,  #5D5FEF, #1D51B4, #5EC6F6, #199DE0, #487ADA, #1B74C9, #487ADA, #199DE0, #5EC6F6, #1D51B4, #5D5FEF);
$color-red: rgb(246, 68, 68);
////// RESPONSIVE //////

$maxWidth: 768px;