@use 'vars';

.about {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	padding-top: 80px;
	background-color: inherit;
	scroll-snap-align: start;

	.container {
		min-width: 50vw;
		height: calc(100vh - 80px);
		position: relative;
	
		.image {
			object-fit: cover;
		}
	}

	.description {
		padding-top: 2vw;
		padding-left: 2vw;
		padding-right: 5vw;
		height: fit-content;
		width: fit-content;
		align-self: center;


		.h2 {
			font-family: SF-Pro-Display;
			font-weight: 600;
			font-size: calc(3.8vmax + 1.2rem);
			margin-top: 0;
			margin-bottom: 1vh;
			color: vars.$color-grey;
		}

		.paragraph {
			font-family: SF-Compact-Text;
			font-weight: 200;
			font-size: calc(0.2vmax + 0.9rem);
			line-height: 2.2ch;

			span {
				color: vars.$color-iris;
				font-weight: 400;
			}
		}
	}
}


@media only screen and (max-width: vars.$maxWidth) {

	.about {
		flex-direction: column;

		.container {
			width: 100%;
			max-height: 50vh;
			

			.image {
				object-fit: cover;
			}
		}

		.description {
			padding-right: 5vw;
			padding-left: 5vw;
		}
	}
}

