@use 'vars';

.about {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	min-height: 100vh;
	height: fit-content;
	padding-top: 80px;
	background-color: inherit;
	scroll-snap-align: start;

	.imageContainer {
		width: 100%;
		height: calc(100vh - 80px);
		position: relative;
		
		.image {
			object-fit: cover;
		}
	}

	.description {
		padding-top: 2vw;
		padding-left: 2vw;
		padding-right: 5vw;
		width: 100%;
		align-self: center;
	}
}


@media only screen and (max-width: vars.$maxWidth) {

	.about {
		flex-direction: column;

		.container {
			width: 100%;
			max-height: 50vh;
			

			.image {
				object-fit: cover;
			}
		}

		.description {
			padding-right: 5vw;
			padding-left: 5vw;
		}
	}
}

