@use 'vars';

.hamburger {
    display: none;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.dark {
    background-color: vars.$color-light;
}

.light {
    background-color: vars.$color-dark;
}


@media only screen and (max-width: vars.$maxWidth) {

    .hamburger {
        display: block;
       	cursor: pointer;
		z-index: 2;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}
