@use 'vars';

.button {
	cursor: pointer;
	padding: 7px 20px;
	border: 2px solid vars.$color-iris;
	border-radius: 30px;
	width: fit-content;
	font-family: SF-Pro-Display;
	font-weight: 400;
	font-size: 1.2rem;
	color: vars.$color-iris;
	background: transparent;
	animation: 2s slideUp;
}

.button:hover {
	background-color: vars.$color-iris;
	color: vars.$color-light;
	transition: 0.2s;
}

@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translateY(80%);
	}

	70% {
		opacity: 0;
		transform: translateY(80%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@media only screen and (max-width: 450px) {
	.button {
		padding: 5px 15px;
		font-size: 1rem;
	}
}