@use 'vars';

.form {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	.inputContainer {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 10px;
		height: fit-content;

		.inputLabel {
			margin-top: 15px;
			font-family: SF-Pro-Display;
			font-weight: 300;
			font-size: 1rem;
		}

		.inputField {
			font-family: SF-Compact-Text;
			font-weight: 300;
			font-size: 1rem;
			background-color: vars.$color-grey-transparent;
			outline: none;
			border: none;
			border-radius: 10px;
			padding: 1.5ch;
			color: inherit;
			outline-style: solid;
			outline-color: vars.$color-grey-transparent;
			resize: vertical;
			overflow: auto;
		}

		.errorMsg {
			font-family: SF-Compact-Text;
			font-weight: 300;
			font-size: 1rem;
			color: vars.$color-red;
			margin: 0;
		}
	}
}