@use 'vars';

.form {
	width: 45vw;
	min-height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	.inputContainer {
		font-family: SF-Pro-Display;
		font-weight: 300;
		font-size: calc(0.4vmax + 1rem);

		.inputLabel {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
}

@media only screen and (max-width: vars.$maxWidth) {

}