@use 'vars';

@font-face {
	font-family: "Source-Code-Pro";
	src: url('../fonts/Source-Code-Pro/SourceCodePro-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SF-Compact-Display";
	src: url('../fonts/SF-Compact-Display/SF-Compact-Display-Regular.otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SF-Compact-Text";
	src: url('../fonts/SF-Compact-Text/SF-Compact-Text-Thin.otf');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "SF-Compact-Text";
	src: url('../fonts/SF-Compact-Text/SF-Compact-Text-Light.otf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "SF-Compact-Text";
	src: url('../fonts/SF-Compact-Text/SF-Compact-Text-Regular.otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SF-Compact-Text";
	src: url('../fonts/SF-Compact-Text/SF-Compact-Text-Bold.otf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "SF-Pro-Display";
	src: url('../fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "SF-Pro-Display";
	src: url('../fonts/SF-Pro-Display/SF-Pro-Display-Medium.otf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "SF-Pro-Display";
	src: url('../fonts/SF-Pro-Display/SF-Pro-Display-Semibold.otf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "SF-Pro-Display";
	src: url('../fonts/SF-Pro-Display/SF-Pro-Display-Heavy.otf');
	font-weight: 800;
	font-style: normal;
}

@keyframes HighlightAnimation {
	0% {
		background-position: 0% 79%
	}

	50% {
		background-position: 100% 22%
	}

	100% {
		background-position: 0% 79%
	}
}

@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translateY(80%);
	}

	20% {
		opacity: 0;
	}

	50% {
		opacity: 1;
		transform: translateY(0%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}


html {
	overflow-x: hidden;
}

body {
	padding: 0;
	margin: 0;
	background-color: vars.$color-dark;
	display: flex;
	flex-direction: column;
}

* {
	box-sizing: border-box;
}

h1 {
	font-family: SF-Pro-Display;
	font-weight: 800;
	font-size: 5.6vw;
	margin: 0;
	padding-bottom: 5vh;
	animation: 3s ease-in-out slideUp;

	span {
		background-image: vars.$color-gradient;
		background-clip: text;
		color: rgba(250, 250, 250, 0.10);
		background-size: 600% 600%;
		animation: HighlightAnimation 12s ease infinite;
	}
}

h2 {
	font-family: SF-Pro-Display;
	font-weight: 600;
	font-size: 4.5rem;
	margin-top: 0;
	margin-bottom: 1vh;
	color: vars.$color-grey;
}

h3 {
	font-family: SF-Pro-Display;
	font-weight: 500;
	font-size: 1.2rem;
	margin: 0px;

	span {
		color: vars.$color-iris;
	}
}

li {
	list-style: none;
}

a {
	font-family: SF-Compact-Text;
	font-weight: 400;
	font-size: 1rem;
	line-height: 2.2ch;
	text-decoration: none;
}

p {
	font-family: SF-Compact-Text;
	font-weight: 200;
	font-size: calc(0.2vmax + 0.85rem);
	line-height: 2.2ch;

	span {
		color: vars.$color-iris;
		font-weight: 400;
	}
}

@media only screen and (max-width: vars.$maxWidth) {

	h1 {
		font-size: 9.5vw;
	}

	h2 {
		font-size: 3.2rem;
	}

}