@use 'vars';

.home {
	padding: 5vw;
	display: flex;
	flex-direction: column;
	min-height: calc(100% - 80px);
	justify-content: center;
}

.helloworld {
	font-family: Source-Code-Pro;
	font-size: 3.5vw;
}

.title {
	font-family: SF-Pro-Display;
	font-weight: 800;
	font-size: 5.8vw;
	margin-top: 15px;
}


.about {
	display: flex;
	justify-content: center;
	min-height: 100%;
}


@media only screen and (max-width: vars.$maxWidth) {
	.helloworld {
		font-size: 5vw;
	}

	.title {
		font-size: 9.5vw;
	}
}