@use 'vars';

.home {
	padding: 5vw;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	justify-content: center;
	scroll-snap-align: start;

	.helloworld {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-items: center;
		margin-top: 10vh;
		font-family: Source-Code-Pro;
		letter-spacing: 0.088ch;
		font-size: 3.2vw;
		color: vars.$color-grey;
	}	


	.typewriter {
		width: 12ch;
		animation: typing 2s steps(11);
		white-space: nowrap;
		overflow: hidden;
	}

	.cursor {
		content: '';
		background: vars.$color-grey;
		width: 1ch;
		height: 0.15ch;
		animation: blink .5s step-end infinite alternate;
		align-self: flex-end;
	}

	@keyframes typing { from { width: 0; } }
	@keyframes blink { 50% { background-color: transparent; } }

	.h1 {
		font-family: SF-Pro-Display;
		font-weight: 800;
		font-size: 5.6vw;
		margin-top: 3vh;
	}
}


.highlight {
	background-image: vars.$color-gradient;
	background-clip: text;
	color: rgba(250, 250, 250, 0.10);
    background-size: 600% 600%;

    -webkit-animation: HighlightAnimation 12s ease infinite;
    -moz-animation: HighlightAnimation 12s ease infinite;
    animation: HighlightAnimation 12s ease infinite;
}

@-webkit-keyframes HighlightAnimation {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}
@-moz-keyframes HighlightAnimation {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}
@keyframes HighlightAnimation {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}


@media only screen and (max-width: vars.$maxWidth) {

	.home {
		.helloworld {
			font-size: 5vw;
		}

		.h1 {
			font-size: 9.5vw;
		}
	}
}