@use 'vars';

.navlink{
	font-family: 'SF-Compact-Display';
	font-weight: 400;
    font-size: 1.4rem;
}

.dark{
	color: vars.$color-light;
}

.light{
	color: vars.$color-dark
}

.navlink:hover{
    text-decoration: underline;
}