@use 'vars';

.navlink{
	font-family: 'SF-Compact-Display';
	font-weight: 400;
    font-size: 1.4rem;
	justify-content: center;
}

.dark{
	color: vars.$color-light;
}

.light{
	color: vars.$color-dark
}

.navlink::after {
	content: '';
	width: 0px;
	height: 3px;
	display: block;
	margin: auto;
	border-radius: 3px;
	background: vars.$color-iris;
	transition: 0.21s;
  }
  
  .navlink:hover::after {
	width: 100%;
  }

//   ul li a:after {
// 	background: #203549;
// 	content: '';
// 	display: inline-block;
// 	height: 2px;
// 	margin: auto;
// 	position: absolute;;
// 	bottom: -0px; left: 0; right: 0;
// 	transition: all 300ms;
// 	width: 0%;
//   }
  
//   /* active */
//   ul li.active a { font-weight: 600; }
  
//   /* hover */
//   ul li a:hover,
//   ul li.active a {
// 	color: #203549;
//   }
  
//   /* active border */
//   ul li a:hover:after,
//   ul li.active a:after {
// 	width: 100%;
//   }
  
//   /* animasyon aspects */
//   .left-to-right li a:after { right: inherit; }
//   .right-to-left li a:after { left: inherit; }