@use 'vars';

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin: 0;
}

.navitem {
    margin-left: 5rem;
}

.homeitem {
    display: none;
}

@media only screen and (max-width: vars.$maxWidth) {
    .navmenu {
        position: fixed;
        right: -100%;
        top: 0;
		padding: 15%;
        flex-direction: column;
        min-width: 100%;
		min-height: 100%;
        text-align: center;
        transition: 0.42s;
		justify-content: center;
    }

	.navmenu.dark {
		background-color: vars.$color-dark-transparent;
	}

	.navmenu.light {
		background-color: vars.$color-light-transparent;
	}

    .navmenu.active {
        right: 0;
		backdrop-filter: blur(15px);
    }

    .navitem {
        margin: 6vh;
    }

	.homeitem {
		display: block;
	}
	
}
