@use 'vars';

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navitem {
    margin-left: 5rem;
}


@media only screen and (max-width: vars.$maxWidth) {
    .navmenu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: inherit;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .navmenu.active {
        left: 0;
    }

    .navitem {
        margin: 2.5rem 0;
    }
}
