@use 'vars';

.projects {
	display: flex;
	justify-content: center;
	flex-direction: column;
	justify-content: center;
	gap: 3vh;
	min-height: 100vh;
	padding-top: 80px;
	padding-left: 5vw;
	padding-right: 5vw;
	background-color: inherit;
	scroll-snap-align: start;

	.h2 {
		font-family: SF-Pro-Display;
		font-weight: 600;
		font-size: calc(3.8vmax + 1.2rem);
		margin-top: 0;
		margin-bottom: 1vh;
		color: vars.$color-grey;
	}

	.reposGrid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 15px;
		padding-bottom: 3vh;

		.repoItem {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			background-color: vars.$color-grey-transparent;
			border-radius: 15px;
			padding: calc(0.5vmax + 15px);

			.h3 {
				font-family: SF-Pro-Display;
				font-weight: 400;
				font-size: calc(0.4vmax + 1.2rem);
				margin: 0px;
			}

			.repoDescription {
				font-family: SF-Compact-Text;
				font-weight: 200;
				font-size: calc(0.2vmax + 1rem);
				line-height: 2.2ch;
			}

			.repoLink {
				display: flex;
				align-items: center;
				gap: 1ch;
				font-family: SF-Compact-Text;
				font-weight: 400;
				font-size: 1rem;
				line-height: 3.2vh;
				color: vars.$color-iris;
				transition: all 0.15s linear;
			}

			.repoLink:hover {
				gap: 1.5ch;
			}
		}

		.repoItem:hover {
			background-color: vars.$color-grey-transparent-hover;
			transition: ease-in-out 0.3s;
		}
	}
}

@media only screen and (max-width: vars.$maxWidth) {
	.projects {
		.reposGrid {
			grid-template-columns: 1fr;
		}
	}
}