/////// COLORS /////////

$color-light: rgb(250, 250, 245);
$color-dark: #1E1E1E;
$color-dark-transparent: rgba(30, 30, 30, 0.90);
$color-light-transparent:rgba(250, 250, 245, 0.90);

$color-iris: #5D5FEF;


////// RESPONSIVE //////

$maxWidth: 760px;